<h1>コメント一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.content %></td>
    <td><%= link_to '詳細を確認する', comment_path(comment.id)%></td>
    <td><%= link_to "ブログを編集する", edit_comment_path(comment.id) %></td>
    <td><%= link_to 'ブログを削除する', comment_path(comment.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>  
  </tr>
<% end %>
</table>

<br>

<%= link_to '新しくブログを投稿する', new_comment_path %>